<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>
    
<form id="registerform" action="/account/register" method="POST" id="loginform">
    <div>
        <label for="account_firstname">First name:</label>
        <input type="account_firstname" id="account_firstname" name="account_firstname" required>
    </div>
    <div>
        <label for="account_lastname">Last name:</label>
        <input type="account_lastname" id="account_lastname" name="account_lastname" required>  
    </div>
    <div>
        <label for="account_email">Email address:</label>
        <input type="account_email" id="account_email" name="account_email" required>  
    </div>
    
        <label for="account_password">Password:</label>
        <input type="account_password" id="account_password" name="account_password" required>
        <span id="passwordbtn">Show Password</span>  
    
    <div id="messages">
        <%- messages() %>
    </div>
    <div>
        <button type="regsubmit">Register</button>
    </div>
</form>