<body>
    <main>

        <div class="container">
            <h2>Welcome to CSE Motors!</h2>

            <div class="vehicle">
                <img class="future" src="images/vehicles/delorean.jpg">
            </div>








        </div>

    </main>
</body>