:root {

  /* Colors */
  --blueish: #06b5d6;
  --white: #fff;
  --nav: #242332;
  --black: #000000;
  --border: #909090;
  --p: #0033FF;
  --warning: red;
  --transparent: rgba(255, 255, 255, .8);

/* Fonts */

  --header2: "Roboto", sans-serif;
  --header3: "Poppins", "Sedan SC", sans-serif;
  --navi: "Raleway", sans-serif;
  --para: "Rubik", sans-serif;
  --sale: "Oswald", sans-serif;
  --footer: "Rubik", sans-serif;
}

/* ----------MOBILE VIEW------------ */

/* Home Page */

/* Header Styling */
header {
  display: flex;
}

#tools {
  margin-left: auto;
}

.siteName a {
  text-decoration: none;
  color: var(--black);
  font-size: large;
  font-weight: 500;
  font-family: var(--header2);
}

#tools a {
  text-decoration: none;
  color: var(--black);
  text-transform: uppercase;
  font-size: x-small;
  font-family: var(--header3);
}

/* Navigation Styling */
nav ul {
  display: flex;
  background-color: var(--nav);
  color: var(--white);
  justify-content: space-around;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: var(--navi);
}

nav ul li a {
  color: var(--white);
}

nav ul li a:hover {
  color: var(--blueish);
}

/* Body Styling */
.transparent {
  position: absolute;
  background-color: var(--transparent);
  top: 200px;
  left: 15px;
}

.container h2 {
  font-family: var(--header2);
}

.text {
  padding: 0;
  color: var(--blueish);
  line-height: 2px;
  padding-bottom: 10px;
}

.text h2 {
  font-family: var(--sale);
}

.text h3 {
  font-family: var(--sale);
}

.owntoday {
  background-color: var(--blueish);
  color: var(--black);
  text-align: center;
  font-size: medium;
  padding: 3px;
  margin: 7px;
  border: 1px solid var(--border);
  border-radius: 2px;
  font-family: var(--sale);
  padding-top: 10px;
  padding-bottom: 10px;
}

.vehicle img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/* Grid in Body */
.information {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: auto;
  grid-column-gap: 5px;
}

.title2 {
  grid-column: -1/1;
  grid-row: 1;
  font-size: larger;
  font-weight: bold;
  font-family: var(--header3);
}

.reviews {
  grid-column: -1/1;
  grid-row: 2;
  margin-top: 5px;
}

.reviews ul li {
  margin-top: 15px;
  font-family: var(--para);
}

.title1 {
  grid-column: 1/2;
  grid-row: 3;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: larger;
  font-weight: bold;
  font-family: var(--header3);
}

.pic1c1 {
  grid-column: 1;
  grid-row: 4;
  background-color: var(--blueish);
  border: 1px solid var(--border);
  text-align: center;
  padding-top: 20px;
}

.p1 {
  grid-column: 1;
  grid-row: 5;
  text-align: center;
  text-decoration: underline;
  color: var(--p);
  font-family: var(--para);
}

.pic2c2 {
  grid-column: 2;
  grid-row: 4;
  background-color: var(--blueish);
  border: 1px solid var(--border);
  text-align: center;
  padding-top: 20px;
}

.p2 {
  grid-column: 2;
  grid-row: 5;
  text-align: center;
  text-decoration: underline;
  color: var(--p);
  font-family: var(--para);
}

.pic3c1 {
  grid-column: 1;
  grid-row: 6;
  background-color: var(--blueish);
  border: 1px solid var(--border);
  text-align: center;
  padding-top: 20px;
}

.p3 {
  grid-column: 1;
  grid-row: 7;
  text-align: center;
  text-decoration: underline;
  color: var(--p);
  font-family: var(--para);
}

.pic4c2 {
  grid-column: 2;
  grid-row: 6;
  background-color: var(--blueish);
  border: 1px solid var(--border);
  text-align: center;
  padding-top: 20px;
}

.p4 {
  grid-column: 2;
  grid-row: 7;
  text-align: center;
  text-decoration: underline;
  color: var(--p);
  font-family: var(--para);
}

  /* Footer Styling */
  footer {
    font-family: var(--footer);
  }

/* Vehicle Inventory Search */

#inv-display {
  list-style-type: none;
  text-align: center;
  background-color: var(--blueish);
}

#inv-display li{
  padding-top: 30px;
  padding-bottom: 30px;
}

.namePrice h2{
  padding: 0;
  margin: 0;
}

.namePrice hr {
  display: none;
}

/* Single Vehicle View */

#vehicle-display {
  background-color: var(--blueish);
  padding-bottom: 10px;
  margin-bottom: 30px;
  text-align: center;
}

#vehicle-display h2 {
  font-size: xx-large;
}

#vehicle-display h3 {
  opacity: 0.75;
  font-size: x-large;
  text-decoration: underline;
}

#vehicle-display div p {
  font-size: large;
}

/* Login Page  */

#loginform {
  display: block;
  text-align: center;
  background-color: var(--blueish);
  border-top: 1px;
  border-bottom: 1px;
  border-color: var(--border);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#registeraccount {
  margin-top: 0;
  background-color: var(--blueish);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  padding-bottom: 20px;
}

#logmessages li {
  list-style-type: none;
  font-style: italic;
}

#registerform * {
  display: block;
}

#passwordbtn {
  border: 2px solid var(--black);
  border-radius: 5px;
  padding: 2px;
  margin-top: 1em;
  font-size: small;
  width: 7em;
  text-align: center;
}

.add-class-form {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  gap: 1em;
}

.add-class-form label {
  display: flex;
  flex-direction: column;
}

/* Register View */

#registerform {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: var(--blueish);
}

#registerform div {
  padding-top: 10px;
}

#regpass {
  padding-top: 5px;
  color: var(--white);
}

/* Management View */
.management-options, .managementtitle, .managementmess {
  display: flex;
  flex-direction: row;
  gap: 1em;
  background-color: var(--blueish);
  padding-bottom: 10px;
  padding-left: 10px;
}

.management-options a {
  text-decoration: none;
  color: var(--black);
  padding: 1em;
  border: 1px solid var(--black);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.management-options a:hover {
  background-color: var(--blueish);
  color: var(--white);
}

#inventoryDisplay {
  margin-top: 10px;
  background-color: var(--blueish);
  padding-top: 10px;
  padding-bottom: 50px;
}

#inventoryDisplay a {
  color: var(--black);
}

#inventoryDisplay a:hover {
  color: var(--white);
}

/* Add Classification View */
.add-class-form label input,
.add-class-form label select {
  width: 200px;
  padding: 0.5em;
  border-radius: 10px;
}

.add-class-form button {
  padding: 1em 1.5em;
  border: 1px solid var(--black);
  border-radius: 20px;
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.add-class-form button:hover {
  background-color: var(--blueish);
  color: var(--white);
}

/* Add Inventory View */
#addinventoryform {
  background-color: var(--blueish);
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Edit View */
#updateForm1 {
  background-color: var(--blueish);
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Delete View */
#deleteForm {
  background-color: var(--blueish);
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#deleteconfirm {
  color: var(--warning);
  font-weight: bold;
}

/* Edit Info/Password */
#updateForm2 {
  background-color: var(--blueish);
  padding: 10px;
}

#updateForm2 {
  padding: 15px;
}

#updateForm2 div {
  padding: 10px;
}

#form2 {
  background-color: var(--blueish);
  padding: 10px;
  margin-top: 10px;
}

#updateForm3 {
  padding: 15px;
}

#updateForm3 div {
  padding: 10px;
}

#updatepass {
  color: var(--white);
}

/* Logged in account management view */
#loginmessage {
  color: var(--warning);
}

#loginmanagement, #welcomelogin {
  background-color: var(--blueish);
  padding: 15px;
}

#loginmanagement a {
  color: var(--white);
}

#welcomelogin a {
  color: var(--white)
}

/* -------------LARGE VIEW----------- */


@media (min-width: 600px) {

  header, nav, footer, main {
    background-color: var(--white);
    margin: 30px;
    padding: 20px;
  }

  header, nav, main {
    margin-bottom: 0;
  }

  nav, footer, main {
    margin-top: 0;
  }

  nav, main {
    border-left:  5px solid var(--blueish);
    border-right: 5px solid var(--blueish);
  }

  /* Header Styling */
  header {
    display: flex;
    border-top: 5px solid var(--blueish);
    border-left:  5px solid var(--blueish);
    border-right: 5px solid var(--blueish);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  #tools {
    margin-left: auto;
  }

  .siteName a {
    text-decoration: none;
    color: var(--black);
    font-size: large;
    font-weight: 500;
    font-family: var(--header2);
  }

  #tools a {
    text-decoration: none;
    color: var(--black);
    text-transform: uppercase;
    font-size: x-small;
    font-family: var(--header3);
  }


  /* Navigation Styling */
  nav ul {
    display: flex;
    background-color: var(--nav);
    color: var(--white);
    justify-content: space-around;
    padding: 0;
  }

  nav ul li {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: var(--navi);
  }

  /* Body Styling */
  body {
    background-image: url("../images/site/checkerboard.jpg");
  }

  .transparent {
    position: absolute;
    background-color: var(--transparent);
    top: 375px;
    left: 100px;
  }

  .container h2 {
    font-family: var(--header2);
  }

  .text {
    padding: 0;
    color: var(--blueish);
    line-height: 2px;
    padding-bottom: 10px;
  }

  .text h2 {
    font-family: var(--sale);
  }

  .text h3 {
    font-family: var(--sale);
  }

  .owntoday {
    background-color: var(--blueish);
    color: var(--black);
    text-align: center;
    font-size: medium;
    padding: 3px;
    margin: 7px;
    border: 1px solid var(--border);
    border-radius: 2px;
    font-family: var(--sale);
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .vehicle img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  /* Grid in Body */
  .information {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: auto;
    grid-column-gap: 10px;
  }

  .title1 {
    grid-column: 1/2;
    grid-row: 1;
    margin-bottom: 30px;
    font-size: larger;
    font-weight: bold;
    font-family: var(--header3);
  }

  .title2 {
    grid-column: 3/4;
    grid-row: 1;
    margin-bottom: 30px;
    font-size: larger;
    font-weight: bold;
    font-family: var(--header3);

  }

  .pic1c1 {
    grid-column: 1;
    grid-row: 2;
    background-color: var(--blueish);
    border: 1px solid var(--border);
    text-align: center;
    padding-top: 20px;
  }

  .p1 {
    grid-column: 1;
    grid-row: 3;
    text-align: center;
    text-decoration: underline;
    color: var(--p);
    font-family: var(--para);
  }

  .pic2c2 {
    grid-column: 2;
    grid-row: 2;
    background-color: var(--blueish);
    border: 1px solid var(--border);
    text-align: center;
    padding-top: 20px;
  }

  .p2 {
    grid-column: 2;
    grid-row: 3;
    text-align: center;
    text-decoration: underline;
    color: var(--p);
    font-family: var(--para);
  }

  .pic3c1 {
    grid-column: 1;
    grid-row: 4;
    background-color: var(--blueish);
    border: 1px solid var(--border);
    text-align: center;
    padding-top: 20px;
  }

  .p3 {
    grid-column: 1;
    grid-row: 5;
    text-align: center;
    text-decoration: underline;
    color: var(--p);
    font-family: var(--para);
  }

  .pic4c2 {
    grid-column: 2;
    grid-row: 4;
    background-color: var(--blueish);
    border: 1px solid var(--border);
    text-align: center;
    padding-top: 20px;
  }

  .p4 {
    grid-column: 2;
    grid-row: 5;
    text-align: center;
    text-decoration: underline;
    color: var(--p);
    font-family: var(--para);
  }

  .reviews {
    grid-column: 3/4;
    grid-row: 2/5;
    margin-top: 30px;
  }

  .reviews ul li {
    margin-top: 15px;
    font-family: var(--para);
  }

  /* Footer Styling */
  footer {
    border-bottom: 5px solid var(--blueish);
    border-left:  5px solid var(--blueish);
    border-right: 5px solid var(--blueish);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: var(--footer);
  }


/* Vehicle Inventory Search */

#inv-display {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-align: center;
  background-color: var(--white);
}

#inv-display li{
  padding: 15px;
  background-color: var(--blueish);
  margin: 5px;
  height: 200px;
  width: 250px;
}

.namePrice h2{
  padding: 0;
  margin: 0;
}

#inv-display li img {
  height: 125px;
  width: 200px;
}

/* Single Vehicle View */

#vehicle-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: var(--blueish);
  padding: 10px;
  margin-bottom: 30px;
  text-align: center;
}

#vehicle-display h2 {
  font-size: xx-large;
}

#vehicle-display h3 {
  opacity: 0.75;
  font-size: x-large;
  text-decoration: underline;
}

#vehicle-display div p {
  font-size: large;
}

#vehicle-img {
  grid-column: 1;
  grid-row: 2;
  height: 175px;
  width: 300px;
  
}

#vehicle-title {
  grid-column: 2;
  grid-row: 1;
}

#vehicle-price {
  grid-column: 1;
  grid-row: 4;
}

#vehicle-description {
  grid-column: 2;
  grid-row: 2;
}

#vehicle-color {
  grid-column: 2;
  grid-row: 3;
}

#vehicle-miles {
  grid-column: 2;
  grid-row: 4;
}

}